@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400&display=swap');

body,
div,
* {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 25px;
  line-height: 55px;
  font-family: 'Cuprum', sans-serif;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  background: black;
}

ul {
  list-style: none;
  display: flex;
}

#app {
  margin: 20px 30px;
}

.secondary-color {
  color: #ef4563;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.menu-link.active {
  color: #ef4563;
  text-decoration: line-through;
}

.italic {
  font-style: italic;
}

.app-button:hover {
  background: #ef4563;
  border: 0px;
}

.app-button {
  text-decoration: none;
  border: 1px solid #fffdfd;
  border-radius: 5px;
  height: 77px;
  padding: 16px 38px;
}

.view-holder {
  max-width: 605px !important;
}

#view-holder {
  z-index: 10;
}
/* Header */

#header {
  height: 65px;
}

@media screen and (max-width: 1300px) {
  #pens-image {
    display: block;
    width: 350px !important;
  }

  body {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .mobile {
    display: block;
  }

  body,
  div,
  * {
    font-size: 20px;
    line-height: 40px;
  }

  .desktop {
    display: none;
  }

  #header img#logo {
    width: 50px !important;
    z-index: 20;
    position: fixed;
    top: 15px;
    left: 15px;
  }

  #app {
    margin: 15px;
  }

  #app-sub-wrapper {
    margin-top: 35px;
  }

  #pens-image-component.mobile {
    position: fixed;
    top: 80px;
    right: 30px;
    padding: 0;
    margin: 0;
  }

  #image-shade {
    background: #000000cc;
    z-index: 3;
  }

  #pens-image {
    width: 100% !important;
  }

  #home-btn-wrapper {
    margin-top: 70px !important;
  }

  .app-button {
    border-radius: 5px;
    padding: 10px 25px;
  }

  form * {
    width: 100%;
  }

  .input-group {
    margin-top: 15px;
  }

  .input-group > input,
  textarea {
    border-radius: 5px;
    padding: 5px;
    height: 25px;
    line-height: 31px;
    color: black;
  }

  textarea {
    height: 120px !important;
    margin-bottom: 64px;
    resize: none;
  }
}
