@font-face {
  font-family: quicksand;
  src: url('../src/assets/fonts/Quicksand-VariableFont_wght.ttf');
}

@import 'tailwindcss';

@theme {
  --color-primary: purple;
  --color-lush-lime: #bada55;
  --color-midnight-shadow: #1a1a1a;
  --font-quicksand: Quicksand, 'sans-serif';
  --text-name: 14rem;
  --text-name--line-height: 14rem;
  --text-name--letter-spacing: 0.5rem;
}

* {
  @apply scroll-smooth;
}
